<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Impacto Ambiental del Reciclaje</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="verde4">

<div class="contenido">

    <h1 style="text-align:center;">Impacto Ambiental del Reciclaje</h1>

    <div class="caja-info">

        <h2>Impacto ambiental</h2>
        <p>El impacto ambiental del reciclaje es muy positivo y se refleja en varios aspectos:</p>
		<h2>Reducción de residuos</h2>
		<p>Menos basura en vertederos y cuerpos de agua, disminuyendo la contaminación.</p>
		<h2>Disminución de la contaminación</h2>
		<p>Se reduce la emisión de gases contaminantes y tóxicos al producir materiales nuevos.</p>
		<h2>Disminución de recursos naturales</h2>
		<p>Menos extracción de madera, minerales y petróleo, preservando ecosistemas.</p>
		<h2>Ahorro de energía</h2>
		<p>Fabricar con materiales reciclados requiere menos energía que producir desde cero.</p>
		<h2>Mitigación del cambio climático</h2>
		<p>Al reducir la quema y descomposición de residuos, se emiten menos gases de efecto invernadero.</p>

        <div class="images">
            <img src="/static/images/imagen8.jpg">
            <img src="/static/images/imagen9.jpg">
        </div>
    </div>

    <a href="/menu" class="volver">Regresar</a>

</div>

</body>
</html>