<!DOCTYPE html>
<html>
<head>
    <title> Recytech-Inicio </title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    
    <video autoplay muted loop id="video-fondo">
        <source src="/static/video/recytech.fondo.mp4" type="video/mp4">
        TU NAVEGADOR NO SOPORTA LA REPRODUCCION DEL VIDEO
    </video>
    
    <div class="bienvenida">
        <h1>HOLA BIENVENIDOS A RECYTECH</h1>
        <a href="/menu" class="button">Entrar</a>
    </div>

</body>
</html>